<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= metaInfo.title %></title>
  <meta name="title" content="<%= metaInfo.title %>" />
  <meta name="description" content="<%= metaInfo.description %>" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= metaInfo.url %>" />
  <meta property="og:title" content="<%= metaInfo.title %>" />
  <meta property="og:description" content="<%= metaInfo.description %>" />
  <meta property="og:image" content="<%= metaInfo.image %>" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="<%= metaInfo.url %>" />
  <meta property="twitter:title" content="<%= metaInfo.title %>" />
  <meta property="twitter:description" content="<%= metaInfo.description %>" />
  <meta property="twitter:image" content="<%= metaInfo.image %>" />

  <link rel="stylesheet" href="/style.css" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <style>
    .htmx-settling .loading {
      opacity: 0;
    }
    .loading {
      transition: opacity 300ms ease-in;
    }
    .htmx-indicator {
      opacity: 0;
      transition: opacity 500ms ease-in;
    }
    .htmx-request .htmx-indicator {
      opacity: 1;
    }
    .htmx-request.htmx-indicator {
      opacity: 1;
    }
  </style>
</head>
