<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= anime.title %></title>
  </head>
  <body>
    <h1><%= anime.title %></h1>
    <img src="<%= anime.poster %>" alt="Poster <%= anime.title %>" />

    <h2>Informasi Post:</h2>
    <ul>
      <% anime.infoPost.forEach(info => { %>
      <li><%= info %></li>
      <% }); %>
    </ul>

    <h2>Sinopsis:</h2>
    <p><%= anime.sinops %></p>

    <h2>Daftar Download:</h2>
    <% anime.downloadList.forEach(category => { %>
    <h3><%= category.title %></h3>
    <ul>
      <% category.linkList.forEach(link => { %>
      <li>
        <a href="<%= link.url %>"><%= link.title %></a>
      </li>
      <% }); %>
    </ul>
    <% }); %>
  </body>
</html>
