<!doctype html>
<html lang="en">
  <head>
    <%- await include("views/partials/head.ejs", { metaInfo:metaInfo }) %>
  </head>
  <body class="bg-gray-950 text-gray-50">
    <%- await include("views/partials/navbar.ejs") %>
    <main class="card flex justify-center w-full p-2">
      <div
        class="bg-gray-900 text-gray-100 border-2 border-gray-700 rounded-2xl p-2 w-full max-w-lg"
      >
        <h1>Episode Terbaru Hari Ini</h1>
        <ul class="grid grid-cols-2 gap-2">
          <% newEps.forEach(function(item) { %>
          <li
            hx-boost="true"
            class="flex flex-col border rounded-xl bg-slate-900 border-gray-700 shadow-slate-700/[.7]"
          >
            <img
              class="w-full aspect-video rounded-t-xl"
              src="<%= item.img %>"
              alt="<%= item.title %>"
            />
            <div class="p-4 md:p-5">
              <h3
                class="text-lg font-bold text-white w-full truncate text-ellipsis overflow-hidden"
              >
                <%= item.title %>
              </h3>
              <!-- p class="mt-1 text-gray-400">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p -->
              <a
                class="mt-2 py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-gray-600"
                href="<%= item.url %>"
              >
                Tonton
              </a>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>
    </main>
    <div>
      <h1>Siap untuk Aksi Epik?</h1>
      <p>Saksikan Petualangan Hebat ini!</p>
      <ul>
        <li></li>
      </ul>
    </div>
    <div>
      <h1>Butuh Pelarian?</h1>
      <p>Masuk ke dunia lain</p>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="htmx-indicator">Loading ...</div>
  </body>
</html>
